[loggers]
keys=root, main

[handlers]
keys=console, file

[formatters]
keys=standard

[logger_root]
level=CRITICAL
handlers=console

[logger_main]
qualname=main
level=CRITICAL
handlers=console,file

[handler_console]
class=StreamHandler
level=CRITICAL
formatter=standard
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=CRITICAL
formatter=standard
args=('logging.txt',)

[formatter_standard]
format=%(asctime)s %(levelname)s %(message)s